.logo{
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 120px;
}
.title{
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}
.list{
    background: tan;
    line-height: 50px;
}
.list li{
    display: inline-block;
    list-style: none;
    text-align: center;
}
.list li a{
    display: inline-block;
    width: 100px;
    text-decoration: none;
    color: black;
}
.left{
    display: inline-block;
    width: 40%;
    background: rgb(247, 221, 189);
}
.right{
    display: inline-block;
    vertical-align: top;
    width: calc(60% - 4px);
    background: rgb(247, 221, 189);
}
.footer{
    text-align: center;
    background: tan;
    line-height: 20px;
}
.alarm{
    color: black;
}